
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form method="POST" action="good_ad" enctype="multipart/form-data">
        <label for="name">Enter name good: </label>
        <input type="text"  name = "name" id="name"/>
        <br/>
        <label>Enter price: </label>
        <input type="text" name = "price" id="text"/>
        <br/>
        <label for="img">Enter img: </label>
        <input type="file" name="img" id="file"/>
        <br/>
        <label for="description">Enter description: </label>
        <input type="text" name="description" id="description"/>
        <br/>
        <input type="submit" value="add"/>
    </form>
</head>
<body>

</body>
</html>